fastapi
uvicorn
requests
python-dotenv
yfinance
beautifulsoup4
python-jose[cryptography]
passlib[bcrypt]
cloudscraper
python-multipart
pytz
python-dateutil
cryptography
bcrypt
pystray
Pillow
websocket-client
